.CalendarSmall .fc-col-header{
  width: 209px !important;
}
.CalendarSmall .fc-scrollgrid-sync-table{
  width: 209px !important;
}

.CalendarSmall .fc-view-harness{
  width: 209px !important;
}

.CalendarSmall .fc-toolbar.fc-header-toolbar{
  width: 209px !important;
  justify-content: space-around !important;
}

.CalendarSmall .fc-daygrid-day-number{
  font-size: 0.5em !important;
}

.CalendarSmall .fc-day-today{
  background-color:#0089ff47 !important;
}

.CalendarSmall .fc-col-header-cell-cushion{
  font-size: 0.6em !important;
}

.CalendarSmall .fc-direction-ltr .fc-daygrid-more-link{
  font-size: 0 !important;
  background: #2196f3c7;
  box-sizing: content-box;
  display: inline-block;
  height: 0px;
  width: 0px;
}
.CalendarSmall .fc-toolbar-title{
  font-size: 0.9em !important;
  font-weight: bold;
}

.CalendarSmall .fc-button.fc-button-primary {
  font-size: 0.50em !important;
}

.CalendarSmall .fc-scroller.fc-scroller-liquid-absolute {
  overflow: unset !important;
}

.redersText{
  font-size: 0.9em;
}

.CalendarBig .fc-direction-ltr .fc-daygrid-event.fc-event-end{
  background-color: var(--fc-event-bg-color);
    border: 1px solid var(--fc-event-border-color);
    color: white;
}
