.fc-col-header{
  width: 209px !important;
}
.fc-scrollgrid-sync-table{
  width: 209px !important;
}

.fc-view-harness{
  width: 209px !important;
}

.fc-toolbar.fc-header-toolbar{
  width: 209px !important;
  justify-content: space-around !important;
}

.fc-daygrid-day-number{
  font-size: 0.5em !important;
}

.fc-day-today{
  background-color:#0089ff47 !important;
}

.fc-col-header-cell-cushion{
  font-size: 0.6em !important;
}

.fc-direction-ltr .fc-daygrid-more-link{
  font-size: 0.5em !important;
  color: blue;
}
.fc-toolbar-title{
  font-size: 0.9em !important;
  font-weight: bold;
}

.fc-button.fc-button-primary {
  font-size: 0.50em !important;
}



